<!DOCTYPE html>
{% load static %}
<html lang="en">


<!-- add-department24:07-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">
    <title>eye-dep</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			 
			 
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="index-2.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href=" {% url 'admin_doctors' %}"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                         
                        <li class="active">
                            <a href=" {% url 'departments' %}"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
                        </li>
						 
                         
                                        
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add Department</h4>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-8 offset-lg-2">
                        <form method='post' action="{% url 'add_admin_dep' %}" id="adddoc" role="form" nonvalidate="nonvalidate" class="bv-form">
							{% csrf_token %}
                            <div class="form-group">
								<label>Department Name</label>
								<input class="form-control" type="text" name="depp" id="depp">
                                 
                                    <span id="depp-error" class="text-danger"></span> <!-- Display error message here -->
                                    <span id="depp-count" class="text-info">0 characters</span> <!-- Display character count here -->
                            </div>
							 
                            <div class="form-group">
                                <label>Description</label>
                                <textarea cols="100" rows="4" class="form-control" name="desc" id="desc"></textarea>
                                 
                                        <span id="desc-error" class="text-danger"></span> <!-- Display error message here -->
                                        <span id="desc-count" class="text-info">0 characters</span> 
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" id="create_dep">Create Department</button>
                            </div>
                        </div>
                             
                             
                        </form>
                    </div>
                </div>
            </div>
             
			 
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/static/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jquery.slimscroll.js"></script>
    <script src="/static/assets/js/select2.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <script>
        // Validate Department Name on keyup
        $('#depp').keyup(function () {
            var departmentName = $(this).val();
            if (departmentName.length < 3) {
                $('#depp-error').text('Department Name must be at least 3 characters long');
            } else {
                $('#depp-error').text('');
            }
        });

        // Validate Description on keyup
        $('#desc').keyup(function () {
            var description = $(this).val();
            if (description.length < 5) {
                $('#desc-error').text('Description must be at least 5 characters long');
            } else {
                $('#desc-error').text('');
            }
        });
    </script>
</body>


<!-- add-department24:07-->
</html>
