<!DOCTYPE html>
{% load static %}
<html lang="en">


<!-- doctors23:12-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">
    <title>eye</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
     
    <div class="main-wrapper">
        <div class="header">
			 
                
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                          <li>
                            <a href="index-2.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>  
						<li class="active">
                            <a href=" {% url 'admin_doctors' %}"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                           
                        <li>
                            <a href="{% url 'departments' %}"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
                        </li>
                         <li>
                            <a href="{% url 'phar' %}"><i class="fa fa-hospital-o"></i> <span>Pharmacy</span></a>
                        </li>  
                        <li>
                            <a href="{% url 'rep' %}"><i class="fa fa-hospital-o"></i> <span>Recepionists</span></a>
                        </li>
                    </ul>    
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'loggout' %}">Logout</a>
                    </li>
				    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %} ">Login</a>
                    </li>
				    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title"><a href="{% url 'admin_doctors' %}">Doctors</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="admin_adddoctor" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Doctor</a>
                    </div>
                </div>

                <form id="search-form" method="GET" action="{% url 'search_doc' %}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Name" placeholder="Search by doctor name">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </form>
{% comment %}                 
                <div class="row">
                    <div class="col-md-12">
                        
                        <form  method="GET" action="{% url 'search_doc' %}">
                            <div class="input-group">
                                <a href="{% url 'admin_doctors' %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i></a>&ensp;&ensp;&ensp;&ensp;
                                <input type="text" class="form-control" name="Name" placeholder="Search by doctor name" size="8">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><br><br> {% endcomment %}





                <h1>All Doctors</h1>
                <table class="table">
                    <thead>
                        <tr>
                            {% comment %} <th>D_ID</th> {% endcomment %}
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone NO</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doct in doct %}
                            <tr>
                                {% comment %} <td>{{ doct.id }}</td> {% endcomment %}
                                <td>{{ doct.Name }}</td>
                                <td>{{ doct.user.email }}</td>
                                <td>{{ doct.phn }}</td>
                                <td>{{ doct.Dep_id.Dep_name }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">No doctors found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% comment %} <form method="get" action="{% url 'GeneratePDFView' %}">
                    <button type="submit" class="btn btn-primary">Generate PDF</button>
                </form> {% endcomment %}
                    
            </div>    
        </div>
             
        </div>
		 
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js'%}"></script>
    <script src="{% static 'assets/js/select2.min.js'%}"></script>
    <script src="{% static 'assets/js/moment.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
</body>


<!-- doctors23:17-->
</html>