<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>EyeCare</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="{% static ' image/x-icon" href="/images/favicon.ico'%}" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css'%}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'plugins/icofont/icofont.min.css'%}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css'%}">
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css'%}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
	<style>
		#iframe {
            display: none; 
            position: fixed;
            bottom: 100px;
            right: 100px;
            z-index: 1;
            border-radius: 1em;
        }

        #toggleButton {
            z-index: 1;
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #494949;
            color: #ff0000;
            border: none;
            border-radius: 100%;
            padding: 0;
            cursor: pointer;
            height: 85px;
            width: 85px;
        }
	</style>
</head>
<button id="toggleButton" onclick="toggleIframe()"><i class="bi bi-robot fs-5"></i></button>
	<iframe id="iframe"
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/de2a1d27-f9f6-49da-821d-62ff38d6e3f6">
</iframe>
<body id="top">

<header>
	<div class="header-top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<ul class="top-bar-info list-inline-item pl-0 mb-0">
						<li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i> {{user.email}}</a></li>
						{% comment %} <li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Kanjirapally, Kerala,India </li> {% endcomment %}
					</ul>
				</div>
				 
				<div class="col-lg-6">
					<div class="text-lg-right top-right-bar mt-2 mt-lg-0">
						<a href="tel:+23-345-67890" >
						{% comment %} {% if user.is_authenticated %} {% endcomment %}
					 
						{% comment %} {{endif}} {% endcomment %}
								<span>Call Now : </span>
							<span class="h4">823-4565-13456</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	 
	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">
		 	 <a class="navbar-brand" href="{% url 'index' %}">
			  	<img src="/static/images/logo.jpg" alt="" class="img-fluid">
			  </a>

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="{% url 'index' %}">Home</a>
			  </li>
			  {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'payment' %}">Payment</a></li> {% endcomment %}
			   <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
			    <li class="nav-item"><a class="nav-link" href="{% url 'service' %}">Services</a></li>

			    <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% url 'department' %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown02">
						<li><a class="dropdown-item" href="{% url 'department' %}">Departments</a></li>
						<li><a class="dropdown-item" href=" {% url 'department-single' %}">Department Single</a></li>
					</ul>
			  	</li>

			  	{% comment %} <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% url 'doctor' %}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03"> {% endcomment %}
						<li><a class="nav-link" href=" {% url 'doctor' %}">Doctors</a></li>
						{% comment %} <li><a class="dropdown-item" href=" {% url 'doctor-single' %}">Doctor Single</a></li>
						<li><a class="dropdown-item" href=" {% url 'appointment' %}">Appoinment</a></li>
						  {% endcomment %}

					{% comment %} </ul>
			  	</li> {% endcomment %}

			     <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% url 'blog-sidebar' %}" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown05">
						<li><a class="dropdown-item" href=" {% url 'blog-sidebar' %}">Blog with Sidebar</a></li>

						<li><a class="dropdown-item" href=" {% url 'blog-single' %}">Blog Single</a></li>
					</ul>
			  	</li>  
			   <li class="nav-item"><a class="nav-link" href=" {% url 'contact' %}">Contact</a></li>
			   {% comment %} <li class="nav-item"><a class="nav-link" href=" {% url 'edit_patient_profile' %}">Profile</a></li> {% endcomment %}
			   {% if user.is_authenticated %}
			   {% comment %} <li><a class="nav-link" href=" {% url 'profile' %}">PROFILE</a></li> {% endcomment %}
			   <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="{% url 'edit_patient_profile' %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PATIENT PORTAL<i class="icofont-thin-down"></i></a>
				<ul class="dropdown-menu" aria-labelledby="dropdown02">
					<li><a class="dropdown-item" href="{% url 'display_patient_profile' %}">My Profile</a></li>
					<li><a class="dropdown-item" href="{% url 'edit_patient_profile' %}">Add Profile</a></li>
					<li><a class="dropdown-item" href=" {% url 'department-single' %}">My Appoinments</a></li>
					<li><a class="dropdown-item" href=" {% url 'my_prescription' %}">My Prescription</a></li>

				</ul>
			  </li>

			        <li><a class="nav-link" href=" {% url 'loggout' %}">LOGOUT</a></li>
				{% else %}
				<li class="nav-item dropdown" >
						<a class="nav-link dropdown-toggle" href="{% url 'dd' %} " id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login<i class="icofont-thin-down"></i></a>
						<ul class="dropdown-menu" aria-labelledby="dropdown02">
							<li><a class="dropdown-item" href=" {% url 'dd' %}">Login Here</a></li>
							<li><a class="dropdown-item" href="{% url 'cc' %} ">Register As Patients</a></li>
 						</ul>
					
					
					</li>
				{% endif %}
					</ul>
		  </div>
		</div>
	</nav>
</header>
	



<!-- Slider Start -->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Total Eye care solution</span>
					<h1 class="mb-3 mt-3">We Aim For <br>Perfect Vision</h1>
					
					<p class="mb-4 pr-5">We are always abreast with the latest and newest in technology wherever required with patient satisfaction and quality of services being our priority.</p>
					<div class="btn-container ">
						<a href="{% url 'demo' %}" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Make appoinment <i class="icofont-simple-right ml-2  "></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<span>24 Hours Service</span>
						<h4 class="mb-3">Online Appoinment</h4>
						<p class="mb-4">Experience hassle-free appointment scheduling with our online platform. Book your appointments anytime, anywhere, and manage your schedule effortlessly.</p>
						<a href= "{% url 'demo' %}" id="top" class="btn btn-main btn-round-full">Make a appoinment</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<span>Timing schedule</span>
						<h4 class="mb-3">Working Hours</h4>
						<ul class="w-hours list-unstyled">
		                    <li class="d-flex justify-content-between">Sat - Sun : <span>9:00 - 4:00</span></li>
		                    <li class="d-flex justify-content-between">Mon - Wed : <span>8:00 - 6:00</span></li>
		                    <li class="d-flex justify-content-between">Thu - Fri : <span>8:30 - 5:00</span></li>
		                </ul>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
						</div>
						<span>Emegency Cases</span>
						<h4 class="mb-3">+91 9012129012</h4>
						<p>In times of urgent need, our dedicated emergency hotline is available 24/7, connecting you to immediate assistance. Your safety is our top priority..</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="/static/images/about/img-1.jpg" alt="" class="img-fluid">
					<img src="/static/images/about/img-2.jpg" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="/static/images/about/img-3.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Personal care <br>& healthy living</h2>
					<p class="mt-4 mb-5">Prioritize your eye health with our personalized care solutions, promoting healthy living for clear vision and overall well-being..</p>

					<a href="{% url 'service' %}" class="btn btn-main-2 btn-round-full btn-icon">Services<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3">5</span>k
						<p>Happy People</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3">200</span>+
						<p>Surgery Comepleted</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3">20</span>+
						<p>Expert Doctors</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-globe"></i>
						<span class="h3">2</span>
						<p> Branch</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Award winning patient care</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Discover our award-winning patient care dedicated to preserving and enhancing your eye health, providing unmatched expertise and compassion.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						{% comment %} <i class="icofont-laboratory text-lg"></i> {% endcomment %}
						<h4 class="mt-3 mb-3">Advanced Diagnostics</h4>
					</div>

					<div class="content">
						<p class="mb-4">Our eye hospital features advanced diagnostic technologies that enable precise and early detection of eye conditions. With state-of-the-art equipment and skilled professionals, we ensure accurate assessments to guide personalized treatment plans for optimal vision health. </p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						{% comment %} <i class="icofont-heart-beat-alt text-lg"></i> {% endcomment %}
						<h4 class="mt-3 mb-3">Laboratory Services</h4>
					</div>
					<div class="content">
						<p class="mb-4">Experience specialized laboratory services for eye care, utilizing cutting-edge technology to diagnose and manage ocular conditions accurately. Our dedicated eye-focused lab ensures thorough assessments and informed treatment decisions for your visual health.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						{% comment %} <i class="icofont-tooth text-lg"></i> {% endcomment %}
						<h4 class="mt-3 mb-3"> Laser Vision Correction</h4>
					</div>
					<div class="content">
						<p class="mb-4">Experience the freedom of clear vision without glasses or contacts through Laser Vision Correction. Our state-of-the-art procedures are performed by skilled professionals, offering safe and effective solutions for visual clarity.Our experienced team ensures a tailored procedure for improved vision.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						{% comment %} <i class="icofont-crutch text-lg"></i> {% endcomment %}
						<h4 class="mt-3 mb-3">Diagnostic Imaging</h4>
					</div>

					<div class="content">
						<p class="mb-4">Gain insights into your eye health with  Diagnostic Imaging services. Our cutting-edge technology provides detailed visualizations, enabling precise assessments for effective treatment planning.Our experienced team ensures a tailored procedure.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						{% comment %} <i class="icofont-brain-alt text-lg"></i> {% endcomment %}
						<h4 class="mt-3 mb-3">Vision Therapy</h4>
					</div>
					<div class="content">
						<p class="mb-4">Enhance your visual skills and overcome challenges with our personalized Vision Therapy program. Our expert-guided exercises and activities are designed to improve your visual abilities, helping you achieve clearer and more comfortable vision.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						{% comment %} <i class="icofont-dna-alt-1 text-lg"></i> {% endcomment %}
						<h4 class="mt-3 mb-3">Specialized Treatments</h4>
					</div>
					<div class="content">
						<p class="mb-4"> Explore a range of specialized treatments for various eye conditions at our facility. Our experienced team employs advanced techniques to provide personalized care, ensuring the best possible outcomes for your vision and eye health.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section appoinment">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 ">
				<div class="appoinment-content">
					<img src="/static/images/about/img-3.jpg" alt="" class="img-fluid">
					<div class="emergency">
						<h2 class="text-lg"><i class="icofont-phone-circle text-lg"></i>+91 9012129012 </h2>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Book appoinment</h2>
					<p class="mb-4">Experience hassle-free appointment scheduling with our online platform. Book your appointments anytime, anywhere, and manage your schedule effortlessly.</p>
					     <form id="#" class="appoinment-form" method="post" action="{% url 'dd' %}">
                    <div class="row">
                         <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>Choose Department</option>
                                  <option>Software Design</option>
                                  <option>Development cycle</option>
                                  <option>Software Development</option>
                                  <option>Maintenance</option>
                                  <option>Process Query</option>
                                  <option>Cost and Duration</option>
                                  <option>Modal Delivery</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect2">
                                  <option>Select Doctors</option>
                                  <option>Software Design</option>
                                  <option>Development cycle</option>
                                  <option>Software Development</option>
                                  <option>Maintenance</option>
                                  <option>Process Query</option>
                                  <option>Cost and Duration</option>
                                  <option>Modal Delivery</option>
                                </select>
                            </div>
                        </div>

                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="date" id="date" type="text" class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="time" id="time" type="text" class="form-control" placeholder="Time">
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="name" id="name" type="text" class="form-control" placeholder="Full Name">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="phone" id="phone" type="Number" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="message" id="message" class="form-control" rows="6" placeholder="Your Message"></textarea>
                    </div>

                    <a class="btn btn-main btn-round-full" href="{% url 'appointment' %}" >Make Appoinment <i class="icofont-simple-right ml-2  "></i></a>
                </form>
            </div>
			</div>
		</div>
	</div>
</section>
<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>We served over 1000+ Patients</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Read what our patients have to say about their experiences at our hospital. From the attentive staff to the exceptional medical care, our commitment to patient satisfaction shines through in their heartfelt reviews.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 testimonial-wrap-2">
				<div class="testimonial-block style-2  gray-bg">
					<i class="icofont-quote-right"></i>

					<div class="testimonial-thumb">
						<img src="/static/images/team/test-thumb1.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info ">
						<h4>Amazing service!</h4>
						<span>John Partho</span>
						<p>
							Exceptional care! The staff at this hospital is truly remarkable. From the moment I walked in, I felt valued and well taken care of. The doctors were thorough in explaining my treatment options, and the nurses were attentive and kind throughout my stay. Grateful for the positive experience.
						</p>
					</div>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="/static/images/team/test-thumb2.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Expert doctors!</h4>
						<span>Leah Maria</span>
						<p>
							My experience here was beyond my expectations. The team went above and beyond to make me feel comfortable before and after my surgery. The facility is clean, and the atmosphere is calming. I can't thank the staff enough for their professionalism and genuine care.
						</p>
					</div>
					
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="/static/images/team/test-thumb3.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Good Support!</h4>
						<span>Kolis Mullar</span>
						<p>
							My experience here was beyond my expectations. The team went above and beyond to make me feel comfortable before and after my surgery. The facility is clean, and the atmosphere is calming. I can't thank the staff enough for their professionalism and genuine care.
						</p>
					</div>
					
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="/static/images/team/test-thumb4.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Nice Environment!</h4>
						<span>Partho Sarothi</span>
						<p class="mt-4">
							  My experience here was beyond my expectations. The team went above and beyond to make me feel comfortable before and after my surgery. The facility is clean, and the atmosphere is calming. I can't thank the staff enough for their professionalism and genuine care.
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="/static/images/team/test-thumb1.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Modern Service!</h4>
						<span>Kolis Mullar</span>
						<p>Exceptional care! The staff at this hospital is truly remarkable. From the moment I walked in, I felt valued and well taken care of. The doctors were thorough in explaining my treatment options, and the nurses were attentive and kind throughout my stay. Grateful for the positive experience.
 						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section clients">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Partners who support us</h2>
					<div class="divider mx-auto my-4"></div>
					<p> Exceptional care! The staff at this hospital is truly remarkable. From the moment I walked in, I felt valued and well taken care of. The doctors were thorough in explaining my treatment options, and the nurses were attentive and kind throughout my stay. Grateful for the positive experience.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row clients-logo">
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/1.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/2.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/3.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/4.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/5.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/6.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/3.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/4.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/5.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/static/images/about/6.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="/static/images/logo.jpg" alt="" class="img-fluid">
					</div>
					<p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Department</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Surgery </a></li>
						<li><a href="#">Wome's Health</a></li>
						<li><a href="#">Radiology</a></li>
						<li><a href="#">Cardioc</a></li>
						<li><a href="#">Medicine</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Support</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Company Support </a></li>
						<li><a href="#">FAQuestions</a></li>
						<li><a href="#">Company Licence</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Get in Touch</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Support Available for 24/7</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">Support@email.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">+23-456-6588</a></h4>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					{% comment %} <div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Novena</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
					</div> {% endcomment %}
				</div>
				{% comment %} <div class="col-lg-6">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						<form action="#" class="subscribe">
							<input type="text" class="form-control" placeholder="Your Email address">
							<a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
						</form>
					</div>
				</div> {% endcomment %}
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="/static/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="/static/plugins/bootstrap/js/popper.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="/static/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="/static/plugins/counterup/jquery.waypoints.min.js"></script>
    
    <script src="/static/plugins/shuffle/shuffle.min.js"></script>
    <script src="/static/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="/static/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="/static/js/script.js"></script>
    <script src="/static/js/contact.js"></script>

  </body>
  </html>
  <script>
    function toggleIframe() {
        console.log("Clicked")
        var iframe = document.getElementById("iframe");
        iframe.style.display = (iframe.style.display === "none") ? "block" : "none";
    }
</script>