<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">
    <title>Pharmacist</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

 

<body style="background-image: url('https://e0.pxfuel.com/wallpapers/237/23/desktop-wallpaper-medical-background-medical-themed.jpg'); background-size: cover; background-repeat: repeat;">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Pharmacist's Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'phar_staff_page' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Medicine List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Billing</a>
                </li>
                 
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'loggout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="main-wrapper" style="padding-right:200px;">
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">My Profile</h4>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-box">
                        <h3 class="card-title">Basic Information</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-img-wrap">
                                    {% comment %} {% if user.doctorprofile.profile_pic %}
                                    <img id="propic" src="{{user.doctorprofile.profile_pic.url }}" alt="profile pic"
                                        class="inline-block" />
                                    {% else %}
                                    <img class="inline-block" src="/static/assets/img/user.jpg" alt="user">
                                    {% endif %} {% endcomment %}
                                    {% comment %}
                                    <div class="fileupload btn">
                                        <span class="btn-text">edit</span>
                                        <input class="upload" name="profile_pic" type="file">
                                    </div>
                                    {% endcomment %}
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <!-- Inside your profile page HTML -->
                                        <div class="col-md-6">
                                            <label>Name</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.Name }}" name="Name">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Email</label>
                                            <div class="form-group form-focus">
                                                <input type="email" class="form-control floating"
                                                    value="{{ user.email }}" name="email">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Gender</label>
                                            <div class="form-group form-focus select-focus">
                                                <select class="select form-control floating" name="gender">
                                                    <option value="Male" {% if user_profile.gender == 'Male' %}
                                                        selected {% endif %}>Male</option>
                                                    <option value="Female" {% if user_profile.gender == 'Female' %}
                                                        selected {% endif %}>Female</option>
                                                    <option value="Other" {% if user_profile.gender == 'Other' %}
                                                        selected {% endif %}>Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Date Of Birth</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.dob }}" name="dob">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Address</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.address }}" name="address">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>State</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.state }}" name="state">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Country</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.country }}" name="country">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Phone Number</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.phn }}" name="phn">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>City</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.city }}" name="city">
                                            </div>
                                        </div>
                                        <div class="card-box">
                                            <h3 class="card-title">Educational Information</h3>
                                            <div class="row">
                                        
                                         
                                        <div class="col-md-6">
                                            <label>Institution</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.institution }}" name="institution">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Place</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.subject }}" name="subject">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Degree</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.degree }}" name="degree">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Year</label>
                                            <div class="form-group form-focus">
                                                <input type="text" class="form-control floating"
                                                    value="{{ user_profile.year }}" name="year">
                                            </div>
                                        </div>
                                        <div>
                                            <label for="address" id="carde" class="form-label text animated zoomIn">Reset Password:</label>
                                            <hr class=" text animated zoomIn" id="signintext2">
                                            <input type="Password" class="form-control text animated zoomIn"  id="cardelement" name="old_password" placeholder="current password">
                                            <input type="Password" class="form-control text animated zoomIn"  id="cardelement" name="reset_password" style="margin-top:20px;" placeholder="new password">
                                            <input type="Password" class="form-control text animated zoomIn"  id="cardelement" name="cpass" style="margin-top:20px;" placeholder="confirm new password">
                                            <span id="pspan" class="text-danger" style="margin-left:50%;"></span>
                                        </div>
                                         
                                    </form>
                                        </div>
                                        <!-- end row -->
                                        </div>
                                        </div>
                                        </div>
                                        <div class="text-center m-t-20">
                                            <button class="btn btn-primary submit-btn" type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-overlay" data-reff=""></div>
                        <script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>
                        <script src="{% static 'assets/js/popper.min.js'%}"></script>
                        <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
                        <script src="{% static 'assets/js/jquery.slimscroll.js'%}"></script>
                        <script src="{% static 'assets/js/app.js'%}"></script>
</body>

</html>
