<!DOCTYPE html>
{% load static %}
<html lang="en">


<!-- doctors23:12-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">
    <title>eye</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
         <div class="header">
			 
                
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                          <li>
                            <a href="{% url 'chart' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>  
						<li class="active">
                            <a href=" {% url 'admin_doctors' %}"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                           
                        <li>
                            <a href="{% url 'departments' %}"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
                        </li>
                        <li>
                            <a href="{% url 'phar' %}"><i class="fa fa-hospital-o"></i> <span>Pharmacy</span></a>
                        </li>
                        <li>
                            <a href="{% url 'rep' %}"><i class="fa fa-hospital-o"></i> <span>Recepionists</span></a>
                        </li>
                         
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title"><a href="{% url 'admin_addphar' %}">Pharmacist</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="admin_addphar" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Pharmacist</a>
                    </div>
                </div>
                <form id="search-form" method="GET" action="{% url 'search_phar' %}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Name" placeholder="Search by doctor name">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </form>





                <h1>All Pharmacist</h1>
                <table class="table">
                    <thead>
                        <tr>
                             
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone NO</th>
                             
                        </tr>
                    </thead>
                    <tbody>
                        {% for phar in phar %}
                            <tr>
                                 <td>{{ phar.Name }}</td>
                                <td>{{ phar.user.email }}</td>
                                <td>{{ phar.phn }}</td>
                                 
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">No pharmacist found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
                    
                     
                </div>  
				    
            </div>
             
        </div>
		 
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js'%}"></script>
    <script src="{% static 'assets/js/select2.min.js'%}"></script>
    <script src="{% static 'assets/js/moment.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
</body>


<!-- doctors23:17-->
</html>