<!DOCTYPE html>
{% load static %}
<html lang="en">


<!-- profile22:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">
    <title>DOCTORS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Doctor's Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doctors_page' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Appointment List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Conference</a>
                </li>
                 
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'loggout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="main-wrapper">
           
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">My Profile</h4>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                 {% csrf_token %} 
                    <div class="card-box">
                        <h3 class="card-title">Basic Informations</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-img-wrap">
                                {% comment %} {% if user.doctorprofile.profile_pic %}
                                    <img id="propic" src="{{user.doctorprofile.profile_pic.url }}" alt="profile pic" class="inline-block"/>
                                {% else %}
                                    <img class="inline-block" src="/static/assets/img/user.jpg" alt="user">
                                {% endif %} {% endcomment %}
                                    {% comment %} <div class="fileupload btn">
                                        <span class="btn-text">edit</span>
                                        <input class="upload" name="profile_pic" type="file" >
                                    </div> {% endcomment %}
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>First Name  </label>
                                            <div class="form-group form-focus"> 
                                                {% comment %} <label class="focus-label">First Name</label> {% endcomment %}
                                                <input type="text" class="form-control floating" value="{{ user_profile.first_name }} " name="fname">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                            <div class="form-group form-focus"> 
                                             
                                                <input type="text" placeholder="last" class="form-control floating" value="{{ user_profile.last_name }}" name="lname">
                                            </div>
                                        </div>

                                        
                                          {% comment %} <div class="col-md-6">
                                            <label>Birth Date </label>
                                            <div class="form-group form-focus"> 
                                                 
                                                <div class="cal-icon"> 
                                                    <input class="form-control floating datetimepicker" type="text" value="{{ user_profile.birth_date }}" name="dob">
                                                </div>
                                            </div>
                                        </div>   {% endcomment %}


                                        <div class="col-md-6">
                                            <label>Email: </label>
                                            <div class="form-group form-focus"> 
                                                 
                                                <div class="cal-icon"> 
                                                    <input class="form-control floating datetimepicker" type="text" value=" {{ user.email }} " name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus select-focus">
                                                <label class="focus-label">Gender</label>
                                                <select class="select form-control floating" name="gender">
                                                    <option value="Male" {% if user_profile.gender == 'Male' %} selected {% endif %}>Male</option>
                                                    <option value="Female" {% if user_profile.gender == 'Female' %} selected {% endif %}>Female</option>
                                                    <option value="Female" {% if user_profile.gender == 'Other' %} selected {% endif %}>Others</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Contact Informations</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Address  </label>
                                <div class="form-group form-focus"> 
                                     
                                    <input type="text" class="form-control floating" value="{{ user.address }}" name="add">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>State </label>
                                <div class="form-group form-focus"> 
                                     
                                    <input type="text" class="form-control floating" value="{{ user.state }} " name="state">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Country  </label>
                                <div class="form-group form-focus"> 
                                     
                                    <input type="text" class="form-control floating" value="{{ user_profile.country }}" name="country">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Pin Code  </label>
                                <div class="form-group form-focus">
                                     
                                    <input type="text" class="form-control floating" value="{{ user_profile.pin_code }}" name="pin">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Phone Number</label>
                                <div class="form-group form-focus"> 
                                    
                                    <input type="text" class="form-control floating" value="{{ user_profile.phone_number }}" name="phno">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Education Informations</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Institution</label>
                                <div class="form-group form-focus">
                                     
                                    <input type="text" class="form-control floating" value="{{ user_profile.institution }} " name="inst">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Subject</span></label>
                                <div class="form-group form-focus">
                                     
                                    <input type="text" class="form-control floating" value="{{ user_profile.subject }} " name="sub">
                                </div>
                            </div>
                            {% comment %} <div class="col-md-6">
                                <label>Starting Date</label>
                                <div class="form-group form-focus">
                                     
									<div class="cal-icon">
										<input type="text" class="form-control floating datetimepicker" value=" " name="sd">
									</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Complete Date</label>
                                <div class="form-group form-focus">
                                     
									<div class="cal-icon">
										<input type="text" class="form-control floating datetimepicker" value=" " name="cd">
									</div>
                                </div>
                            </div> {% endcomment %}
                            <div class="col-md-6">
                                <label>Degree</label>
                                <div class="form-group form-focus">
                                     
                                    <input type="text" class="form-control floating" value="{{ user_profile.degree }} " name="degree">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Grade </label>
                                <div class="form-group form-focus">
                                     
                                    <input type="text" class="form-control floating" value="{{ user_profile.grade }} " name="grade">
                                </div>
                            </div>
                        </div>
                        <div class="add-more">
                            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Add More Institute</a>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Experience Informations</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Company Name</label>
                                <div class="form-group form-focus">
                                    
                                    <input type="text" class="form-control floating" value="{{ user_profile.company_name }}" name="cname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Location</label>
                                <div class="form-group form-focus">
                                     
                                    <input type="text" class="form-control floating" value="{{ user_profile.location }} " name="loc">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Job Position </label>
                                <div class="form-group form-focus">
                                     
                                    <input type="text" class="form-control floating" value="{{ user_profile.job_position }} " name="jobp">
                                </div>
                            </div>
                            {% comment %} <div class="col-md-6">
                                <label>Period From </label>
                                <div class="form-group form-focus">
                                     
									<div class="cal-icon">
										<input type="text" class="form-control floating datetimepicker" value=" " name="periodf">
									</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Period To </label>
                                <div class="form-group form-focus">
                                     
									<div class="cal-icon">
										<input type="text" class="form-control floating datetimepicker" value=" " name="periodt">
									</div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <div class="add-more">
                            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Add More Experience</a>
                        </div>
                    </div>
                    <div class="text-center m-t-20">
                        <button class="btn btn-primary submit-btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
            {% comment %} <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll" id="msg_list">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">  </span>
                                            <span class="message-time"> </span>
                                            <div class="clearfix"></div>
                                            <span class="message-content"> </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item new-message">
                                        <div class="list-left">
                                            <span class="avatar"></span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"></span>
                                            <span class="message-time"> </span>
                                            <div class="clearfix"></div>
                                            <span class="message-content"> </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar"></span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">  </span>
                                            <span class="message-time"> </span>
                                            <div class="clearfix"></div>
                                            <span class="message-content"> </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar"></span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Mike Litorus</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Catherine Manseau </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">D</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Domenic Houston </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">B</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Buster Wigton </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Rolland Webber </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Claire Mapes </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Melita Faucher</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Jeffery Lalor</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Loren Gatlin</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Tarah Shropshire</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
</body>


<!-- profile23:03-->
</html>